# Ignore all logfiles and tempfiles.
/.tmp
/log/*.log
/tmp
npm-debug.log

# Front end stuff
node_modules/

# Ignore the DS_Store
.DS_Store

# JUnit
test-results.xml

# Ignore spec coverage output
coverage

libpeerconnection.log
